.scroll{
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 50px;
    left: 80%;
    transition: 500ms all ease-in-out;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgba(81, 255, 0, 0.363);
    z-index: 99;
}

.scroll a{
    font-size: 1.5rem;
    color: var(--white);
}

.scroll:hover{
    background-color: var(--clear);
}

@media screen and (max-width:500px){

    .scroll{
        left:10px;
    }
    
}