#About{
    width: 100%;
    height: 80vh;
    color: var(--white);
    background-image: url(../media/hq.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container_about{
    width: 100%;
    max-width: 1600px;
    height: 100%;
}

#About h3{
    position: absolute;
    width: 100%;
    margin-left: 60%;
    margin-top: -400px;
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
    color: var(--green);
    z-index: 99;
}

.container_skills{
    width: 50%;
    height: 100%;
    padding: 230px 100px;
    overflow: hidden;
}

.container_skills h2{
    font-size: 2rem;
    font-weight: 600;
}

.ensino{
    width: 500px;
    height: 100px;
}

.ensino ion-icon{
    width: 50px;
    height: 50px;
    margin-right: 30px;
    font-size: 2rem;
    color: var(--pink);
}

.ensino h4{
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--clear);
}

.skill{
    width: 100%;
    height: 70vh;
    font-size: 1.2rem;
    color: var(--clear);
    z-index: 5;
}

.skill div p{
    width: 100px;
    height: 45px;
    display: flex;
    text-transform: uppercase;
    justify-content: flex-start;
    align-items: center;
}

.skill div span{
    margin-left: 50px;
    font-size: 1.3rem;
    width: auto;
    height: 45px;
    color: var(--pink);
}

.skill div span ion-icon{
    width: 50px;
}

.Caio_Jose{
    width: 50%;
    height: 100%;
    padding: 30px;
}

.Caio_Jose .caio{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 2px solid var(--white);
    box-shadow: var(--box-shadow);
}

.pingu{
    position: absolute;
    width: 100px;
    left: 50%;
    margin-top: -20vh;
    font-size: 2rem;
    transform: rotate(180deg);
    z-index: 0;
    color: var(--green);
    animation: andar 2s infinite;
}

@keyframes andar {
    0%,100%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(20deg);
    }
}

@media screen and (max-width:1000px){
    #About{
        height: 150vh;
    }

    .container_about{
        height :140vh;
        flex-direction: column;
    }

    #About h3{
        margin-top: -110vh;
   
    }
    

    .container_skills{
        width: 100%;
        height: 110vh;
    }

    .ensino h4{
        font-size: 1.2rem;
    }

    .skill div span{
        font-size: 1.2rem;
  
    }

    .skill div p{
        font-size: 1rem;
  
    }

    .Caio_Jose{
        width: 100%;
        height: 100%;
    }

    .pingu{
        left: 0%;
        margin-top: -50vh;
    }

}

@media screen and (max-width:500px){
    #About{
        height: 200vh;
    }

    .container_about{
        height :150vh;
        flex-direction: column;
    }

    #About h3{
        width: 100%;
        margin-top: -160vh;
        margin-left: -10%;
    }

    .ensino{
        width: 300px;
        height: 100px;
    }
    

    .container_skills{
        width: 100%;
        padding: 0px 30px;
        overflow: hidden;
    }
    


    .skill div p{
        font-size: 1rem;
  
    }

    .Caio_Jose{
        width: 100%;
        height: 100%;
    }

    .pingu{
        left: 0%;
        margin-top: -50vh;
    }

}